<br>
<br>
<h4> Stuck at home? </h4><br>
<h4> Don't know what to cook? </h4><br>
<h4> Don't know how to cook? </h4><br>
<h2> QuarantineCuisines can help! </h2>
<br>
<p> Like most of you at home, we struggle to find new and exciting recipes to cook. Or if we do find something we like we dont have a full recipe or list of ingredients. And it's not super easy to run to the store to quickly grab a few things you're missing. </p>
<p> With QuarantineCuisines you have access to a variety of different types of dishes right at your fingertips. And you can search by ingredients you have around the house as well!</p>
    <br>
<p> We know the important role that food plays in our lives.  Especially now while most of us are stuck inside our houses. </p>
<p> That's why we want to bring you a variety of different dishes from all around the world. </p>
<p> With QuarantineCuisines you can bring your family together by cooking a delicious meal together or sitting down and eating that home-cooked meal you made with love. </p>
<p> QuarantineCuisines offers a diverse selection of meals and recipes for you and your families so you can pick and choose your favorite recipes. </p>
<br>
<br>
<p> Brought to you by Scott and Zana </p>